/* common shered styles */
body{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color:#FD6E0A;
}
.btn-primary{
    background-color:#FD6E0A;
    border-radius: 5px;
    border:0;
    color:#fff;
    font-size: 20px;
    font-weight: 700;
    padding:18px;

}
#btn-downlod{
    margin-right: 25px;
}
.section-title{
    color:#181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    color:#181818;
    text-align: center;
    font-size: 18px;
}
/* nav related style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
    color:#181818;
    font-size: 45px;
    font-weight: 800;
  
}
nav > ul{
    display: flex;
    align-items: center;
}
ul li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color:#474747;
}
/* header related style start*/
.header{
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat:no-repeat ;
    background-position: right bottom , top left ;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.banner-contant{
    max-width: 500px;
}
.banner .profile-pic{
    width: 500px;
}
.banner-greetin{
    font-size: 45px;
    color:#474747;
    margin-bottom: 0px;
}
   
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;


}
/* header related style end*/
main{
    max-width: 1140px;
    margin:0 auto;
}
/* main section style  */

/* about  section style */
.about{
    padding:130px;
    background-color: #FFF8F3;
    margin: 130px 0;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.info-title{
    font-weight: normal;
    font-size: 20px;
}
.info-description{
    font-weight: 700;
    font-size: 20px;
}
/* what i do related style */
main section{
    margin: 130px;
}
#what-i-do-description{
    padding:30px 150px;
}
.skills-container{
    display: flex;
    gap:24px;
   
}
.skill{
    padding: 30px;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    
}
.skill-description{
    color:#474747

}
/* resume section style */
.resume-column-title{
    font-size: 30px;
    color:#474747;
    font-weight: 700;

}
.resume-container{
    display: flex;
    gap:50px;

}
.resume-item-institute {
    font-weight: normal;
    color:#D9D9D9
}
.resume-item-description{
    font-weight: normal;
}
hr{
    margin: 30px;
}
.downlod-cv{
    text-align: center;
    margin-top: 50px;
}
/* footer style */
footer{
    display: flex;
    gap: 100px;
    background-color: #D9D9D9;
    padding:130px 200px;
    margin-top: 100px;
}
.footer-column{
    width:50%;
    padding:
}
.social-link a{
    margin-right: 24px;
}
.contact input[type="text"],.contact input[type="email"],  textarea{
    display: block;
    margin-bottom: 25px;
    padding:18px 35px;
    color:#757575;
    border-radius: 5px;
    border:0;
    width: 100%;



}
